{% extends 'page.html' %}

{% block content %}
    <section class="w3-container w3-padding-large" style="padding-bottom: 4rem;">
        <h2>Novo Cliente</h2>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="w3-panel w3-pale-red w3-border">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <form class="w3-container w3-card w3-padding-large" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="w3-btn w3-indigo" style="margin-top: 1rem;">
                Salvar
            </button>
        </form>
    </section>
{% endblock %}
