<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Meu App CRM</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            text-decoration: none;
        }

        footer {

        }

    </style>

</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>

    <main style="min-height: 81.5vh;">
        {% block content %} {% endblock %}
    </main>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
